node_modules/
dist/
coverage/
.next/
.idea/
.svelte-kit/
pnpm-lock.yaml
.changeset/
website/docs/**/*.mdx
README.md
CHANGELOG.md
package.json
build

$houdini
$kitql
stats.html

db/
ROUTES_*
ab.d.ts

templates/