node_modules
dist/
build/
coverage/
.next/
.idea/
.svelte-kit/
.changeset/
vite.config.ts.timestamp-*

package.json
pnpm-lock.yaml
CHANGELOG.md
stats.html

$houdini
$kitql
db/
ROUTES_*
templates/

*.svg
ab.d.ts
.astro
.VSCodeCounter/