---
const currentYear = new Date().getFullYear()
---

<footer>
  <div class="container">
    <p>
      &copy; {currentYear} -
      <a href="https://kitql.dev">KitQL</a> - Build with <a href="https://incluud.dev"
        >Incluud.dev</a
      > and <a href="https://starlight.astro.build/">Starlight</a> 🌟
    </p>
  </div>
</footer>

<style>
  p {
    text-align: center;
    font-size: 0.8rem;
  }
</style>
